body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #E9ECEF;
    font-family: serif;
}

.titulo {
    color: #6d92d8;
    font-size: 3em;
    margin: 0;
    border-left: 5px solid #92A8D1;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}