.title-bar {
    font-family: 'Beau Rivage';
    color: #92A8D1;
    height: 30%;
    padding-bottom: 0;
    font-size: 4em;
    margin: 0;
}

.navbar-expand-lg {
    padding-top: 0;
}

.navbar-expand-lg a {
    padding-top: 0;
    color: #7c8795;
}

.imagem-central {
    background-image: url('../imgs/KB_main_img.JPEG');
    background-size: cover;
    background-position-x: 28vw;
    background-position-y: 200vh;
    height: 70vh;
}

.container-timer {
    width: 100vw;
}

#timer {
    color: #f7f7f7;
    font-size: 2em;
    padding: 0;
    width: 100vw;
    background: #A8C1E0;
    margin-bottom: 20px;
}

.container-maps {
    width: -webkit-fill-available;
}

.container-localizacao h3 {
    color: #92A8D1;
    font-size: 2em;
}

.localizacao {
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
    color: #92A8D1;
}