.container-fluid {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
    scrollbar-width: none;
}

.container-fluid::-webkit-scrollbar {
    display: none;
}

.col-foto {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 60%;
    background-color: red;
}

.col-foto img {
    width: 100%;
    height: 140%;
    object-fit: cover;
}

.col-login {
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    background-image: url(../imgs/background_widescreen.jpg);
    background-size: 147%;
    background-position-y: 50vh;
    background-position-x: -6vw;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 40%;
}

.col-login .title {
    font-family: 'Beau Rivage';
    color: #92A8D1;
    height: 30%;
}

.title h1 {
    font-size: 4em;
    margin: 0;
    padding: 0;
}

.title h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: small-caption;
    font-size: 1em;
    margin: 0;
    padding: 0;
    width: 290px;
}

.form-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.col-login form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.col-login form label {
    font-size: x-large;
    color: #92A8D1;
    font-weight: 200;
}

.col-login form p {
    width: 100%;
}

.col-login form input {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px;
    text-align: center;
    border: None;
    border-radius: 30px;
    background-color: whitesmoke;
}

.col-login form button {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 10px;
    text-align: center;
    border: #92A8D1;
    border-radius: 30px;
    background-color: #92A8D1;
    color: rgb(255, 255, 255);
}

.col-login form button:hover {
    background-color: #A8C1E0;
    color: rgb(0, 0, 0);
}

.alert-dange {
    z-index: 100;
}

@media (max-width: 765px) {
    .main-container {
        height: 100vh;
        align-items: center;
        justify-content: start;
    }

    .col-foto {
        width: 50%;
        height: 50%;
        /* display: none!important; */
        z-index: 10;
    }

    .col-foto img {
        height: 100%;
    }

    .col-login {
        background-image: url(../imgs/background_mobile.jpg);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position-y: 0;
        background-position-x: 0;
    }
}