{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container header text-center">
    <h1 class="title-bar" href="#">Kaio & Beatriz</h1>
    <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#localizacao">Localização</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#presentes">Lista de Presentes</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="position-relative overflow-hidden p-3 p-md-5 text-center imagem-central">
</div>
<div class="row text-center container-data">
    <span>15 de Novembro de 2024</span>
</div>
<div class="row text-center container-timer">
    <div id="timer"></div>
</div>
<div class="container container-sobre" id="convite">
    <div class="row g-0 bg-body-secondary position-relative">
        <h3 class="text-center mensagem">"Para que todos vejam, e saibam, e considerem, e juntamente entendam que a mão do SENHOR fez isso..."<br>(Isaías 41:20)</h3>
    </div>
    <div class="row text-center pais">
        <div class="col-md-4 pais_noivo">
            <div class="row">
                <h5>Kleber Cristiano Martins</h5>
            </div>
            <div class="row">
                <h5>Geiza Maria de Souza</h5>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 pais_noiva">
            <div class="row">
                <h5>Eliandra Cristina de Oliveira</h5>
            </div>
            <div class="row">
                <h5>Alex Ferreira da Silva</h5>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <div class="centralized-div">
                <h5>Convidam para cerimônia de seus filhos:</h5>
                <h1 class="noivos" href="#">Kaio & Beatriz</h1>
            </div>
        </div>
    </div>
</div>
<div class="container container-localizacao" id="localizacao">
    <div class="row g-0 bg-body-secondary position-relative">
        <h1 class="titulo">Localização</h1>
        <div class="col-md-6 mb-md-0 p-md-4">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/13/79/5d/d5/fachada-do-restaurante.jpg" alt="Description of image" class="img-fluid">
        </div>
        <div class="col-md-6 mb-md-0 p-md-4">
            <h3 class="mt-5 display-4">Estância Lago Azul</h3>
            <span class="text-localizacao fs-5 text">Queridos amigos e familiares,
                Estamos encantados em compartilhar o local para o nosso casamento. Este lugar é muito mais do que apenas uma paisagem bonita - é onde nossas histórias se entrelaçam, onde risos foram compartilhados e onde promessas
                de amor foram feitas. Mal podemos esperar para celebrar este momento especial com vocês neste cenário tão significativo para nós.
                <br>
            </span>
            <p class="localizacao fs-5 text">Av. Roberto Mário Perosa, s/n - Agua Sumida, Urupês - SP, 15850-000</p>
        </div>
    </div>
    <div class="row g-0 bg-body-secondary position-relative">
        <div class="col-md-12 mb-md-0 p-md-4 container-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2211.655098507378!2d-49.29993029586487!3d-21.21019920927012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bc2bc1607db457%3A0xb3ef91d6950ae848!2sEst%C3%A2ncia%20Lago%20Azul!5e0!3m2!1spt-BR!2sbr!4v1711249116666!5m2!1spt-BR!2sbr" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<div class="container" id="presentes">
    <div class="row g-0 bg-body-secondary position-relative">
        <h1 class="titulo">Lista de presentes</h1>
        <small class="text-body-secondary fs-5 text">Para aqueles que desejam nos presentear nesta ocasião especial, 
        criamos uma lista de presentes com carinho. Sua presença é o maior presente que poderíamos receber, 
        mas caso deseje nos presentear de outra forma, ficaremos profundamente gratos. Obrigado por 
        fazer parte deste momento único em nossas vidas.</small>
        <div class="d-flex flex-row flex-nowrap overflow-auto">
            {% for gift in gifts %}
            <div class="card" style="width: 18rem;">
                <img src="{{ gift.image.url }}" class="card-img-top" alt="{{ gift.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ gift.name }}</h5>
                    <p class="card-text">{{ gift.description|slice:":100" }}...</p>
                </div>
                <div class="container comprar" style="padding: 10px;">
                    <a href="{{ gift.link }}" target="_blank" class="btn btn-primary">Dar Presente</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="modal fade" id="confirmacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="myModalLabel">Confirmação de Presença</h5>
            </div>
            <div class="modal-body">
                Estamos muito animados para o nosso grande dia e sua presença é muito importante para nós! Estamos especialmente ansiosos para celebrar com {% if group_guest.members.count > 1 %}vocês{% else %}você{% endif %}:
                <br>
                <br>
                {% for guest in group_guest.members.all %}
                    <strong>{{ guest.name }}</strong><br>
                {% endfor %}
                <br>
                <em>Obs: Caso ainda não tenha certeza, basta clicar fora dessa janela e confirmar depois.</em>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="confirmPresence(false)">Eu não irei</button>
                <button type="button" class="btn btn-success" onclick="confirmPresence(true)">Eu irei</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% if show_modal %}
<script>
    $(document).ready(function() {
        $('#myModal').modal('show');
    });
</script>
{% endif %}
<script>
    // Defina a data e hora para a qual você deseja contar
    var countDownDate = new Date("Nov 15, 2024 17:00:00").getTime();

    // Atualize a contagem regressiva a cada 1 segundo
    var countdownfunction = setInterval(function() {

      // Obtenha a data e hora atuais
      var now = new Date().getTime();

      // Encontre a distância entre agora e a data da contagem regressiva
      var distance = countDownDate - now;

      // Cálculos de tempo para dias, horas, minutos e segundos
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Exiba o resultado no elemento com id="timer"
      document.getElementById("timer").innerHTML = days + " dias " + hours + "h "
      + minutes + "m " + seconds + "s ";

      // Se a contagem regressiva terminar, escreva algum texto 
      if (distance < 0) {
        clearInterval(countdownfunction);
        document.getElementById("timer").innerHTML = "O Grande Dia Chegou!";
      }
    }, 1000);

    function confirmPresence(isAttending) {
        $.ajax({
            url: '{% url "confirm_presence" %}',
            method: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                is_attending: isAttending
            },
            success: function() {
                $('#myModal').modal('hide');
            }
        });
    }
</script>
{% endblock %}